%section#marketing
  %article
    .logo
      = image_tag 'big_logo.png'

    %h1 Introduction
    %p
      Vim is great for writing code, but what surpised me most about Vim is that
      it's <i>fun</i>. It's really exciting to see a whole paragraph disappear with 3
      keys, or to create a macro that replays complex work with with a single
      keystroke. Now that I know Vim I couldn't imagine writing code without it.

    %p
      I created this tutorial for a few reasons. First I thought I could improve
      upon existing tutorials by focusing on the commands and patterns that
      programmers use most. Second, I wanted to provide a thorough guide to Vim that will be useful to both beginner and intermediate Vimmmers alike.

    %p
      Please send your feedback to #{link_to "@vicramon", 'http://twitter.com/vicramon'} or raise an issue on #{link_to "GitHub", "http://github.com/vicramon/vim-tutorial"}.

    %p
      = link_to "Start reading &#8594;".html_safe, chapter_path('preface')

    %article#chapters
      %h1 Chapters
      = render 'chapters'
