%section#marketing
  %article
    .logo
      = image_tag 'big_logo.png'

    %h1 Introduction
    %p
      Vim is great for writing code, but what surpised me most about Vim is that
      it's FUN. It's really exciting to see a whole paragraph disappear with 3
      keys, or to play a macro that does a ton of work with with a single
      keystroke.

    %p
      Now that I know Vim I couldn't imagine writing code without it. I hope that
      you will feel the same way once you become a Vim expert.

    %p
      I created this tutorial for a few reasons. First I thought I could improve
      upon existing tutorials by focusing on the commands and patterns that
      programmers use most. Second, I wanted to teach people more about the
      philosophy of Vim and how that relates to pleasant and speedy coding. Most
      of all, I wanted to provide a thorough guide to Vim that will be useful to
      both beginner and intermediate Vimmmers alike.

    %p
      Check it out and please send your feedback to #{mail_to 'vic@vicramon.com'} or
      tweet #{link_to "@vicramon", 'http://twitter.com/vicramon'}.

    %p
      = link_to "Start reading &#8594;".html_safe, chapter_path('introduction')

    %article#chapters
      %h1 Chapters
      = render 'chapters'
